@import "tailwindcss";

@theme {
  --font-inter: "Inter", "system-ui", "sans-serif";
}

:root {
  font-family: 'Very Vogue Text', 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6,
div {
  font-family: 'Very Vogue Display', serif;
}

p,
span,
a {
  margin: 0;
  font-family: 'Very Vogue Display', serif;
}



ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
  padding: 0;
  margin: 0;
}